@media (max-width: 768px){
    html {
        font-size: 65%;
    }
}

*{
    top: 0px;
    left: 0px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

a:hover {
    background-color: rgba(134, 109, 215, 0.829);
    color: white;
}

ul li img {
    margin-right: 3rem;
    max-width: 70%;
}

.home{
    color: blueviolet;
}

.active {
    background: linear-gradient(to right, #6462d7dc 0%, #ff8fe1d2 100%);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(134, 109, 215, 0.829);
}

.header {
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin-top: 1%;
}

.search {
    position: relative;
    color: #6462d7dc;
    font-size: 16px;
}
  
.search input {
    margin-left: 10%;
    padding: 14px 25px;
    border: 1px solid #6462d7dc;
    float: left;
    border-radius: 5px; 
}  

.search .fa-search { 
    position: absolute;
    top: 15px;
}
  
.search .fa-search {
    left: 200px;
}

.text {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

#KnowMore {
    margin-left: 20px;
    color: #6462d7dc;
    background: white;
    border: 1.1px solid #6462d7dc;
}


.t1 {
    font-weight: 400; 
    margin-top: -5%;
}

.t2 {
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.img1 {
    margin-top: -19%;
    max-width: 70%;
    margin-left: 20%;
}
.img2 {
    margin-top: -7%;
    width: 980px;
    padding: 3%;
    background: linear-gradient(to right, #ffffff -5%, #66ffff 200%);
}

.img3    {
    margin-top: -20%;
    max-width: 100%;
    
}

.parte2 {
    margin-top: 10%;
    flex-flow: row wrap;
    max-width: 800px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parte2 h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 0 0;

}


.parte2 p {
    margin-top: 20px;
    padding-right: 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.parte2 img {
    width: 100%;
    float:right;
}

.parte2 button {
    margin-top: 10px;
    width: 145px;
    height: 48px
}

.h1 {
    padding-top: 50px;
}

.img4 {
    position: relative; 
    margin-top: 10%;
    padding: 0 0 50%;    
    width:100%; 
    padding-bottom: 0px;
}

.img5 {
    margin-top: -50%;
}

.t3 {
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
}

.parte3 {
    margin-top: 10%;
    display: block;
    background-color: #C9E6FF;
    top: 2237px;
    width: 135%;
    height: 600px;
    
}
