@media (max-width: 768px){
    html {
        font-size: 65%;
    }
}
@media (max-width: 380px){
    html {
        font-size: 65%;
    }
    .img1 {
        position: center;
    }
    .header {
        max-width: 100%;
        display: grid;
        padding: 1% 100%;
    }
    .header a {
        align-items: center;
        position: relative;
        background-color: rgba(134, 109, 215, 0.459);

    }
    .header img{
        text-align: center;
        width: 70%;
        position: none;
    }
    .search {
        display: grid;
    }
}
*{
    top: 0px;
    left: 0px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

a:hover {
    background-color: rgba(134, 109, 215, 0.829);
    color: white;
}

ul li img {
    margin-right: 3rem;
    max-width: 70%;
}

.home{
    color: blueviolet;
}

.active {
    background: linear-gradient(to right, #6462d7dc 0%, #ff8fe1d2 100%);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(134, 109, 215, 0.829);
}

.header {
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin-top: 1%;
}

.search {
    position: relative;
    color: #6462d7dc;
    font-size: 16px;
}
  
.search input {
    margin-left: 10%;
    padding: 0.9rem 1.7rem;
    border: 1px solid #6462d7dc;
    float: left;
    border-radius: 5px; 
}  

.search .fa-search { 
    position: absolute;
    top: 1rem;
}
  
.search .fa-search {
    left: 12.5rem;
}

.text {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

#KnowMore {
    margin-left: 2rem;
    color: #6462d7dc;
    background: white;
    border: 1.1px solid #6462d7dc;
}


.t1 {
    font-weight: 400; 
    margin-top: -5%;
}

.t2 {
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.img1 {
    margin-top: -19%;
    max-width: 70%;
    margin-left: 20%;
}
.img2 {
    margin-top: -7%;
    width: 980px;
    padding: 3%;
    background: linear-gradient(to right, #ffffff -5%, #66ffff 200%);
}

.img3    {
    margin-top: -20%;
    max-width: 100%;
    
}

.parte2 {
    margin-top: 10%;
    flex-flow: row wrap;
    max-width: 800px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parte2 h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 0 0;

}


.parte2 p {
    margin-top: 20px;
    padding-right: 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.parte2 img {
    width: 100%;
    float:right;
}

.parte2 button {
    margin-top: 10px;
    width: 145px;
    height: 48px
}

.h1 {
    padding-top: 50px;
}

.img4 {
    position: relative; 
    margin-top: 10%;
    padding: 0 0 50%;    
    width:100%; 
    padding-bottom: 0px;
}

.img5 {
    margin-top: -50%;
}

.t3 {
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
}

.grid-container {
    margin-top: 7%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(180, 221, 255, 0.158);
    padding: 10px;
    box-shadow: 1px 1px 30px 3px rgba(33, 149, 243, 0.39);
}

.grid-container > div {
    text-align: left;
    padding: 20px 0;
    font-size: 1rem;
}

.grid-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;

    border: 1px solid #55555562;
    border-radius: 4px;
}

.grid-container select {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: 1px solid #55555562;
    border-radius: 4px;
}

.grid-container button {
    margin-top: 20px;
}

.item5 {
    padding-bottom: 0px;
}

.item2 {
    margin-left: 2px;
}

.item3, .item4, .item5 {
    grid-column: 1 / span 2;
}

.titulo {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10px;
}

.footer {
    margin: 5%;
    text-align: center;
}

.grid-container-footer {
    margin-top: auto;
    max-width: 980px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: wheat;
}

.grid-container-footer > div {
    padding: 20px 0;
    font-size: 1rem;
}
