@media (max-width: 768px){
    html {
        font-size: 65%;
    }
}
@media (max-width: 380px){
    html {
        font-size: 65%;
    }
    .img1 {
        position: center;
    }
    .header {
        max-width: 100%;
        display: grid;
        padding: 1% 100%;
    }
    .header a {
        align-items: center;
        position: relative;
        background-color: rgba(134, 109, 215, 0.459);

    }
    .header img{
        text-align: center;
        width: 70%;
        position: none;
    }
    .search {
        display: grid;
    }
}
*{
    top: 0px;
    left: 0px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

/* li {
    float: left;
} */

a {
    list-style-type: none;
    margin: 0;
    padding: 0;

    float: left;

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

a:hover {
    background-color: rgba(134, 109, 215, 0.829);
    color: white;
}

.header img {
    float:left;
    margin-right: 3rem;
    max-width: 70%;
}

.home{
    color: blueviolet;
}

.active {
    background: linear-gradient(to right, #6462d7dc 0%, #ff8fe1d2 100%);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(134, 109, 215, 0.829);
}

.header {
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin-top: 1%;
}

.search {
    position: relative;
    color: #6462d7dc;
    font-size: 16px;
}
  
.search input {
    margin-left: 10%;
    padding: 0.9rem 1.7rem;
    border: 1px solid #6462d7dc;
    float: left;
    border-radius: 5px; 
}  

.search .fa-search { 
    position: absolute;
    top: 1rem;
}
  
.search .fa-search {
    left: 12.5rem;
}

.text {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

#KnowMore {
    margin-left: 2rem;
    color: #6462d7dc;
    background: white;
    border: 1.1px solid #6462d7dc;
}


.t1 {
    font-weight: 400; 
    margin-top: -5%;
}

.t2 {
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.img1 {
    margin-top: -19%;
    max-width: 70%;
    margin-left: 20%;
}
.img2 {
    margin-top: -7%;
    width: 980px;
    padding: 3%;
    background: linear-gradient(to right, #ffffff -5%, #66ffff 200%);
}

.img3    {
    margin-top: -20%;
    max-width: 100%;
    
}

.parte2 {
    margin-top: 10%;
    flex-flow: row wrap;
    max-width: 800px;
    border-radius: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parte2 h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 0 0;

}


.parte2 p {
    margin-top: 20px;
    padding-right: 45px;
    text-align: left;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
}

.parte2 img {
    width: 100%;
    float:right;
}

.parte2 button {
    width: 145px;
    height: 48px
}

.h1 {
    padding-top: 50px;
}

.img4 {
    position: relative; 
    padding: 0 0 50%;    
    width:100%; 
    padding-bottom: 0px;
}

.img5 {
    margin-top: -100%;
}

.t3 {
    padding-right: 0;
    font-size: 12px; 
    margin-top: -2%; 
    margin-bottom: 7%;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
}

.fundoazul {
    max-width: 1500px;
    width: 200%;
    margin-top: 10%;
    padding-left: 350px;
    padding-right: 350px;
    background-image: url("img/fundoazul.svg");
}

.grid-container {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    padding: 20px 50px 20px 50px;
    box-shadow: 1px 1px 30px 3px rgba(165, 165, 165, 0.39);
    border-radius: 10px;
}

.grid-container div {
    padding: 3%;
    text-align: left;
    padding: 20px 0;
    font-size: 1rem;
}

.grid-container input {
    width: 100%;
    padding: 12px 20px 12px 2px;
    margin: 15px 0;
    box-sizing: border-box;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #55555562;
    opacity: 0.5;
}

.grid-container select {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #55555562;
    margin-top: 15px 0;
    width: 100%;
    padding: 12px;
    opacity: 0.5;
    padding: 12px 20px 12px 2px;

}

.grid-container button {
    margin-top: 20px;
}

.item5 {
    padding-bottom: 0px;
}

.item1 {
    margin-right: 15%;
}

.item3, .item4, .item5 {
    grid-column: 1 / span 2;
}

.imgs {
    align-items: center;
    justify-content: space-between;
    height: 200%;
    display: flex;
    margin: 2%;
    margin-top: -20%;
}

.img5 {
    margin-left: -85%;
    margin-top: -25%;
}
.img6 {
    margin-left: 160%;   
    margin-top: -35%;
    padding-left: 30px;
    padding-top: 20px;
}
.img7 {
    margin-left: 200%; 
    margin-top: -60%;

}

.img5, .img6, .img7 {
    width: 90%;
    justify-content: space-between;
}

.footer {
    padding: 6%;
    text-align: center;
}

.grid-container-footer {
    max-width: 100%;
    width: 980px;
    height: 250px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container-footer div {
    font-size: 1rem;
}

.grid-container-footer h1 {
    
}

.grid-container-footer p {
    color: #777777;
}

.footer1, .footer2, .footer3 {
    padding-right: 100px;
}

.iconFormat {
    font-size: 25px;
}

.footer4 i{
    margin: 5%;
}

#icon1, #icon2, #icon3, #icon4 {
    margin: 2px;
    color: white;
    border-radius: 50%;
    width: 55px;
}

#icon1 {
    background: linear-gradient(to top right, #993399 0%, #8a2be2 100%);
}
#icon2 {
    background: linear-gradient(to top right, #009900 0%, #66ff99 100%);
}
#icon3 {
    background: linear-gradient(to top right, #cc0066 0%, #ff3399 100%);
}
#icon4 {
    background: linear-gradient(to top right, #cc6600 0%, #ffcc00 100%);
}

.img_footer {
    margin-top: -7%;
    width: 1500px;
}

.img_footer1 {
    padding-left: 200px;
}

.img_footer2 {
    padding-left: 350px;
    
}
